/* Adds background image */

.main {
    background-image: url(images/library-bg.jpg); 
    height: 100%; 
    background-position: center; 
    background-size: cover; 
    background-repeat: repeat-y 
}

/* Sets height of body to 100% */
html, body {
    height: 100%;
}

/* Id container has a mininumum height of 100%,
necessary for creating a footer that stayed at the bottom of the page at all times */
#container {
    min-height: 100%;
}

/* Padding bottom is the size of the footer */
#main {
    overflow: auto;
    padding-bottom: 47px;
}

.animate__animated.animate__pulse {
    --animate-duration: 0.5s;
}

#exampleModal {
    z-index: 9999999999;
}